<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="form-signin-heading">HOME</h2>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/logoutOuath}">Logout</a>
    </div>
    <div>Welcome<p><span th:text = "${auth2AuthenticationToken}"></span></p></div>
    <div>Welcome<p><span th:text = "${authorizedClient}"></span></p></div>
    <div>Welcome<p><span th:text = "${auth2AuthenticationToken}"></span></p></div>
    <div>Welcome<p><span th:text = "${acessToken}"></span></p></div>
    <div>Welcome<p><span th:text = "${refreshToken}"></span></p></div>


</body>
<script>
    function authorizationCode(){
        window.location = new URL("http://localhost:20887/oauth2/authorization/keycloak1");
    }

    function authorizationCodeWithPKCE(){
        window.location = new URL("http://localhost:20887/oauth2/authorization/keycloakWithPKCE");
    }

    function implicit(){
        window.location = new URL("http://localhost:20887/oauth2/authorization/keycloak2");
    }
</script>
</html>