<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="form-signin-heading">INDEX</h2>
    <div sec:authorize="isAuthenticated()">
        <a href="/logoutOuath">Logout</a>
    </div>
    <form sec:authorize="isAnonymous()" action="#">
        <p><input type="button" onclick="authorizationCode()" value="AuthorizationCode Grant"></p>
        <div sec:authorize="isAnonymous()"><a th:href="@{/oauth2Login(username='user', password='1234')}">Password Flow Login</a></div>
        <div sec:authorize="isAnonymous()"><a th:href="@{/oauth2Login}">Client Credentials Flow Login</a></div>
    </form>


</body>
<script>
    function authorizationCode(){
        window.location = new URL("http://localhost:20887/oauth2/authorization/keycloak");
    }

</script>
</html>